.side-navigation {
	right: 0;
	height: 100%;
	background-color: white;
	width: 200px;
	margin-top: 106px;
    margin-right: -210px;
    transition: margin-right 0.5s ease;
    position: fixed;
    z-index: 200;
	@include box-shadow(3px 3px 10px 1px $brandGray);
	li {
		a {
			display: block;
			color: black;
			text-decoration: none;
			text-align: center;
			width: 90%;
			margin: 0 auto;
			padding: 20px 0;
			border-bottom: 2px solid $brandOffWhite;
		}
		&:hover {
			background-color: $brandOffWhite;
		}
	}
}

#menu_collapse_icon {
	display: none;
}

#menu_collapse_icon:checked ~ .side-navigation {
	margin-right: 0 !important;
}

#menu_collapse_icon:checked ~ .overlay {
	opacity: 0.3;
	display: block;
}

.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: black;
	opacity: 0;
	z-index: 100;
	display: none;
	@include transition-property(opacity);
}