h2 {
	font-family: $futuraLight;
	font-size: 22px;
	text-transform: uppercase;
	color: $headingColor;
	letter-spacing: 3px;
	line-height: 31px;
}

h3 {
	font-family: $copyFont;
	font-size: 18px;
	color: $copyColor;
	margin-bottom: 46px;
	line-height: 27px;
}