$backgroundColor: white;
$brandGreen: #AEE119;
$brandPurple: #B11486;
$brandOffWhite: #F5F5F5;
$brandGray: #464646;
$brandGrayL: #868686;

/** Header **/
$headerHeight: 104px;

/** Navigation **/
$navFont: Helvetica Neue,Helvetica,Arial,sans-serif;
$navColour: #000000;

/** Typography **/
$copyFont: Helvetica Neue,Helvetica,Arial,sans-serif;
$futuraLight: 'Futura Light';
$futuraBook: 'Futura Book';
$futuraMedium: 'Futura Medium';
$futuraBold: 'Futura Bold';
$headingColor: $brandGray;
$copyColor: #585858;

/** Misc **/